---
// Import interfaces...
import type { IExpensePeriod } from '@interfaces/budget';

// Import necessary composables...
import useFormatting from '@composables/useFormatting';

// Define the props.
type Props = {
  period: IExpensePeriod;
  projected: number;
  actual: number;
};

// Get the
const { period, projected, actual } = Astro.props;

// Get the methods from the composables.
const { toPrice } = useFormatting();

// Calculate the difference between the projected and actual income.
const improvement: boolean = actual >= projected;
---

<div
  class="transition-shadow ease-in duration-300 h-full rounded-lg px-6 py-6 bg-indigo-600 flex flex-col gap-2 justify-between md:px-8 md:py-6 xl:px-6 hover:shadow-lg"
>
  <h1
    class="flex justify-between text-sm text-indigo-100 font-semibold tracking-tight leading-4 md:text-lg"
  >
    Actual {period.range} income
    {improvement ? <span>🎉</span> : <span>🔻</span>}
  </h1>
  <p class="text-4xl text-indigo-50 tracking-tighter font-extrabold">
    {toPrice(actual, 'ZAR')}
  </p>
</div>
