---
// Import interfaces...
import type { IExpensePeriod } from '@interfaces/budget';

// Import necessary composables...
import useFormatting from '@composables/useFormatting';

// Define the props.
type Props = {
  period: IExpensePeriod;
  income: number;
};

// Get the props.
const { period, income } = Astro.props;

// Get the methods from the composables.
const { toPrice } = useFormatting();
---

<div
  class="transition-shadow ease-in duration-300 h-full rounded-lg px-6 py-6 bg-indigo-600 flex flex-col gap-2 justify-between md:px-8 md:py-6 xl:px-6 hover:shadow-lg"
>
  <h1
    class="flex justify-between text-sm text-indigo-100 font-semibold tracking-tight leading-4 md:text-lg"
  >
    Projected {period.range} income
  </h1>
  <p class="text-4xl text-indigo-50 tracking-tighter font-extrabold">
    {toPrice(income, 'ZAR')}
  </p>
</div>
